body {
  overflow-x: hidden;
  min-height: 100vh;
}

.blue-bg {
  background-color: #23304b;
}

.blue-text {
  color: #35476a;
}

.light-blue-text {
  color: #82afd6;
}

.green-text {
  color: #28a745;
}

.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
}

.navbar .nav-item {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .nav-item.active {
  border-left: #6a89a4 3px solid;
}

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background-image: url('./images/bv-right-angle.jpeg');
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background-image: url('./images/cats-angle.jpeg');
  background-size: cover;
  background-position: center;
}

.carousel-image-3 {
  background-image: url('./images/skiing-dogs.jpeg');
  background-size: cover;
  background-position: center;
}

#home-heading {
  position: relative;
  min-height: 250px;
  background: url('./images/paddle-sketch.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

/* ABOUT PAGE */
#about-heading {
  position: relative;
  min-height: 200px;
  background: url('./images/biking-lab.jpeg');
  background-attachment: fixed;
  background-position: center -400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.capitalize {
  text-transform: uppercase;
}

.about-img {
  margin-top: -120px;
  max-width: 450px;
}

/* QUOTES PAGE */
#quotes-heading {
  position: relative;
  min-height: 350px;
  background: url('./images/cats-entrance.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.quotes-heading-text-container {
  height: 250px;
}

/* FAQ */
.faq-question-text {
  color: #23304b;
}

.faq-question-text:hover {
  text-decoration: none;
  color: #28a745;
}
